body {
    margin-top: 50px;
}

[class*="col-"] {
    float: left;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background: #000;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-content {
    position: absolute;
    margin-left: 250px;
    margin-right: 230px;
    padding: 15px;
    border: 1px solid #dda;
}
